@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --Primary-50: #EBD8D8;
  --Primary-400:#993D3E;
  --primary-500-main: #841618;
  --Primary-600:#6E1214;
  --Primary-100:#D6B1B2;
  /* Secondary Colors */
  --Secondary-50: #F1F1FF;
  --Secondary-100: #E0DFFF;
  --Secondary-200: #8C8AB2;
  --secondary-500-main: #181464;
  --Secondary-600: #141153;

  /* Tertiary Colors */
  --Teritary-100: #F2EDE1;
  --Teritary-600-Main: #957A40;

  /* Neutral Colors */
  --Colors-Neutral-50: #F5F4F4;
  --Neutral-100: #EDEDF0;
  --Colors-Neutral-100: #EEEDEC;
  --Neutral-200: #DCDCE2;
  --Neutral-300: #B9B9C4;
  --Neutral-500: #A7A19D;
  --Colors-Neutral-500: #A7A19D;
  --Colors-Neutral-700: #66605C;
  --Neutral-800: #33333D;
  --Colors-Neutral-900: #23201F;
  --Neutral-700: #444452;
  /* Success Colors */
  --Colorsuccess: #37B800;

  /* Border Radius */
  --Radius-xs: 0.625rem;
  --Radius-md: 1rem;

  /* Base Font Size */
  --base: 12;

  @media (min-width: 768px) {
    --base: 14;
  }

  @media (min-width: 1280px) {
    --base: 16;
  }


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
}


html {
  font-size: calc(1px * var(--base)) !important;
  font-family: var(--font-figtree);
  @media (min-width: 1921px) {
    font-size: 0.83333vw !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif !important;
}

.baseContainer {
  max-width: 120rem;
  margin:  auto;
  padding-left: 5.3%;
  padding-right: 5.3%;

  @media (max-width: 768px) {
    padding-left: 6%;
    padding-right: 6%;
  }
}



