@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --Primary-50: #ebd8d8;
  --Primary-100: #d6b1b2;
  --Colors-Primary-300: #b86668;
  --Primary-400: #993d3e;
  --primary-500-main: #841618;
  --Primary-600: #6e1214;
  /* Secondary Colors */
  --Secondary-50: #f1f1ff;
  --Secondary-100: #e0dfff;
  --Secondary-200: #8c8ab2;
  --secondary-500-main: #181464;
  --Secondary-600: #141153;

  /* Tertiary Colors */
  --Teritary-100: #f2ede1;
  --Teritary-600-Main: #957a40;

  /* Neutral Colors */
  --Colors-Neutral-50: #f5f4f4;
  --Neutral-100: #ededf0;
  --Colors-Neutral-100: #eeedec;
  --Neutral-200: #dcdce2;
  --Neutral-300: #b9b9c4;
  --Neutral-500: #a7a19d;
  --Colors-Neutral-500: #a7a19d;
  --Colors-Neutral-700: #66605c;
  --Colors-Neutral-800 : #433F3C;
  --Neutral-800: #33333d;
  --Colors-Neutral-900: #23201f;
  --Neutral-700: #444452;
  /* Success Colors */
  --Colorsuccess: #37b800;
  --Colors-Success-800:#1B7A38;

  /* Border Radius */
  --Radius-xs: 0.625rem;
  --Radius-md: 1rem;

  /* Base Font Size */
  --base: 12;

  @media (min-width: 768px) {
    --base: 14;
  }

  @media (min-width: 1280px) {
    --base: 16;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
}

html {
  font-size: calc(1px * var(--base)) !important;
  font-family: var(--font-figtree);
  @media (min-width: 1921px) {
    font-size: 0.83333vw !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif !important;
}

.baseContainer {
  /* max-width: 1920px; */
  margin: auto;
  padding-left: 5.3%;
  padding-right: 5.3%;
  
  @media (max-width: 768px) {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Gallery slides - show only active or targeted slide */
.slides .slide {
  display: none;
}

.slides .slide.is-active,
.slides .slide:target {
  display: block;
}